<!DOCTYPE html>
<html>

<head>
  <title>Ferry Fairy</title>
  <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" >
  <link type="text/css" rel="stylesheet" href="/static/MobileApp.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js" ></script>
</head>

<body>
  <div class = "content">
    <form action="login?next=index" method="POST">
    <div class="whiteBack">
      <table style="width:100%">
        <tr>
          <td><img src="/static/FerryFairy.png"></td>
          <td><h1 id="title">Ferry Fairy</h1></td>
        </tr>
      </table>
    </div>
    <div>
    </div>
    <label id ="B1" for="select-native-1">Log in:</label>
    <div class="ui-field-contain">
      <input name="username" type="text" id="select-native-1" />
      <input name="password" type="password" id="select-native-1" />
      {% csrf_token %}
    </div>
    <input id= "Buttons" type="submit" value ="Log in">
  </form>
  </div>
</body>

</html>
