body {
	margin:0px;
	padding:0px;
}
#main > div {bottom:50px;}
.content{
	background-color: #CDEEC1;
	height: 1000px;
	padding-top: 0px;
}
h1 {
	text-align: left;
	margin-left: 15px;
	font-size: 30px;
	font-family: Apple Chancery;
	font-style: italic;
	color: #366B23;
}

.mainbar{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
	width: 800px;
	height: 5px;
	background-color: #366B23;
}
#op{
	padding: 10px;

}
#B1{
	margin-left: 15px;
	font-family: Arial;
	color : #366B23;

}
.Buttons{
	display : inline;
	padding: 4px 6px;
	border: 1px solid #777;
	background-color: #999999;
	color: #366B23;
	margin-left: 10px;
	border-radius: 5px;
}
#op {
	background : #333333;
	color: #366B23;
	width: 200px;
	padding :5px;
	font-size: 14px;
	height: 34px;
}
#UserName {
	font-size: 20px;
	font-family: Arial;
	padding: 10px;
	color:#366B23;
}
#title{
	letter-spacing: 2px;
}
.whiteBack{
	background-color: #ffffff;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #666666 ;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
