<!DOCTYPE html>
<html>
<head>
  <title>Ferry Fairy</title>
  <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" >
  <link type="text/css" rel="stylesheet" href="/static/MobileApp.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js" ></script>
  <style>
  	#block {width:200px, height:150px, border: 1px solid black; display: inline-block; vertical-align: top;}
 	#header {text-align: center; background-color:#336600;}
 	#main {text-align: center; background-color: #cdeec1;}
 	#tclegend {margin-top: 0; }
 	#tclegend li {list-style: none !important; background-image: none !important; padding: 0 !important; display: inline; float: left; margin-right: 6px;}
 	#tclegend li:first-child {margin-left: 0px;}
 	#tclegend li div {margin-right: 4px; margin-bottom: 10px; float: left; width: 20px; height: 20px;}
  </style>
</head>
<body>
	<div data-role="page">

      <form action="forecast" method="GET">
        <div class="whiteBack">
          <table style="width:100%">
            <tr>
              <td><img src="/static/FerryFairy.png"></td>
              <td><h1 id="title">Ferry Fairy</h1></td>
            </tr>
          </table>
        </div>
 		<div data-role="content" id="main">
 			<div id="block">
  				<div class="content" style="font-size: 1.1em;">
    				<p><strong>Approximately... </strong><br/>
    				<table style="width: 50%" align="center">
    				<tr>
	                	<td height="50" style="background-color: #FFFF66; text-align: center; border-radius: 20px;">
                      {% if space != None %}
                        <strong>{{ space }}</strong> Spaces Available
                      {% else %}
                        No data available
                      {% endif %}
                    </td>
	                </tr>
	                	</tbody>
	                </table>
	                <p> for the <strong>{{ time }}</strong> journery aboard the <a href="http://www.wsdot.wa.gov/ferries/vesselwatch/vesseldetail.aspx?vessel_id={{vessel_id}}">{{ vessel_name }}</a>
        			<br><em><a href="http://www.wsdot.wa.gov/ferries/vesselwatch/cameradetail.aspx?terminalid=8" style="font-weight: bold;">view cameras</a></em>
               		<div style="clear:left;"><hr></div>
    				<div style="text-align:center"><strong>Typical Vehicle Traffic Conditions</strong>
    				<em><br>Can't make your desired ferry above? Maybe you can make the the next one!</em></div>
               		<div>
	                	<table style="width: 100%; border-radius: 20px;">
	                	<tbody>
	                	<tr style="border-radius: 20px;">
	                		<td style="width: 10%; font-weight: bold; background-color: #336600; color:#FFFFFF">Depart</td>
	                		<td style="width: 10%; font-weight: bold; background-color: #336600; color:#FFFFFF">Destination</td>
	                		<td style="width: 35%; font-weight: bold; background-color: #336600; text-align: center; color:#FFFFFF;">Typical Space</td>
	                		<td class="termcondvessels" style="width: 20%; font-weight: bold; background-color: #336600; color:#FFFFFF;">Vessel</td>
	                	</tr>
	                	<tr>
	                	    <td style="white-space: nowrap;">7:55 AM</td>
	                	    <td>
	                			<a href="http://www.wsdot.wa.gov/ferries/vesselwatch/TerminalDetail.aspx?terminalid=12" title="Check Terminal conditions!" target="_self">Kingston</a>
	                		</td>
	                		<td style="background-color: #FF0000; text-align: center;color:#FFFFFF; border-radius: 20px;">Usually 1 boat wait</td>
	                		<td class="termcondvessels">
	                			<a href="http://www.wsdot.wa.gov/ferries/vesselwatch/vesseldetail.aspx?vessel_id=36">Walla Walla</a>
	                		</td>
	                	</tr>
	                	<tr>
	                	    <td style="white-space: nowrap;">8:50 AM</td>
	                	    <td>
	                			<a href="http://www.wsdot.wa.gov/ferries/vesselwatch/TerminalDetail.aspx?terminalid=12" title="Check Terminal conditions!" target="_self">Kingston</a>
	                		</td>
	                		<td style="background-color: #339966; text-align: center; color:#FFFFFF; border-radius: 20px;">Rarely fills up</td>
	                		<td class="termcondvessels">
	                			<a href="http://www.wsdot.wa.gov/ferries/vesselwatch/vesseldetail.aspx?vessel_id=36">Walla Walla</a>
	                		</td>
	                	</tr>
	                	</tbody>
	                	</table>
	                	<hr>
           				<br>
						<a class="twitter-timeline"  href="https://twitter.com/wsferries" data-widget-id="579352739479568384">Tweets by @wsferries</a>
						<script>!function(d,s,id){
							var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
							if(!d.getElementById(id)){
								js=d.createElement(s);
								js.id=id;
								js.src=p+"://platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js,fjs);}
							}
							(document,"script","twitter-wjs");
						</script>
					</div>
				</div>
			</div>
		</div>
		<script>$(function() {
			$(window).bind('orientationchange', layout);
			function layout() {
				var wid = $(window).width();
			  	var hgt = $(window).height();
			  	if(wid > hgt) {
			     	$("#controls").css("display", "inline-block");
			     	$(".btn").css("display", "block");
			  	} else {
			    	$("#controls").css("display", "block");
			     	$(".btn").css("display", "inline-block");
			  	}
		    }
		    layout();
		});
	    </script>
	</div>
</body>
</html>
