<!DOCTYPE html>
<html>
<head>
  <title>FerryTime!</title>
  <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" >
  <link type="text/css" rel="stylesheet" href="/static/MobileApp.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js" ></script>
</head>
<body>
	<form action="forecast" method="GET">
	<div id="main"></div>
		<h1 id="title">Ferry Time</h1>
		<div class = "mainbar"></div>
		<div>
			{% if user.is_authenticated %}
			<h3 id="UserName">Hello {{ user.first_name }},</h3>
			{% else %}
			<h3 id="UserName">Please Log in</h3>
			{% endif %}
			<h4 id="UserName"> Route : Edmonds - Kingston</h4>
		</div>
		<label id ="B1" for="select-native-1">Next Ferry Available:</label>
		<div class="ui-field-contain">
			<select name="time" id="select-native-1">
				{% for time in schedule %}
					<option value = "{{time}}">{{ time }}</option>
				{% endfor %}
			</select>
			<input type="hidden" name="terminal_id" value="{{ terminal_id }}"/>
		</div>
		<input class= "Buttons" type="submit" value ="Select">
	</div>
	</form>
</body>
</html>
