<!DOCTYPE html>
<html>

<head>
  <title>Ferry Fairy</title>
  <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" >
  <link type="text/css" rel="stylesheet" href="/static/MobileApp.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js" ></script>
</head>

<body>
	<div class = "content">
	<form action="forecast" method="GET">
    <div class="whiteBack">
      <table style="width:100%">
        <tr>
          <td><img src="/static/FerryFairy.png"></td>
          <td><h1 id="title">Ferry Fairy</h1></td>
        </tr>
      </table>
    </div>

		<div>
			{% if user.is_authenticated %}
			<h3 id="UserName">Hello {{ user.first_name }},</h3>
      <h4 id="UserName"> Route : Kingston - Edmonds</h4>
			{% else %}
			<h3 id="UserName">Please Log in</h3>
			{% endif %}

		</div>
		<label id ="B1" for="select-native-1">Sailing times:</label>
		<div class="ui-field-contain">
			<select name="time" id="select-native-1">
				{% for time in schedule %}
					<option value = "{{ time.1 }}">{{ time.0 }}</option>
				{% endfor %}
			</select>
			<input type="hidden" name="terminal_id" value="{{ terminal_id }}"/>
		</div>
		<input id= "Buttons" type="submit" value ="Select">
	</form>
</div>
</body>

</html>
